/*------------------------------------------------------------------------------------------------------------------------
 @author: 
 @www: 
 @github: 
 @version: 1.0

 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */

 /* =============================================================================
Header
========================================================================== */



header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($string);
	
	background-size: cover;
	background-position: center;
	height: 100vh;
	
	@include flexColumnCenter(column, center, center);

}

.hero-text-box{
	@media (min-width: 768px){
		
	}
	
	.hero-banner-text{
			color: #fff;
			margin: auto;
			text-align: center;
			
		
		@media (min-width: 768px){
			@include flex-columnBetween(column, space-between);
		} 
		
		small.intro-lead-in{
			font-size: 3.000em;
			font-style: italic;
			line-height: 1.5;
				@media (min-width: 768px){
					font-size: 4.000em;
					
					
				}
				
		}
		
		h1.intro-heading{
	
			font-family: $font-heading;
			font-size: 3.400em;

			@media (min-width: 768px){
				font-size: 8.500em;
				font-weight: 700;
				line-height:1.5;
				margin: 0.500em 0;
				text-transform: uppercase;
			
			}

		}
		
		.btn-full:link,
		.btn-full:visited{
			background-color: $color_main;
			margin: 0 auto;
			font-size: 18px;
    		padding: 1.000em 2.000em;
			color: #fff;
			text-transform: uppercase;			
			cursor: pointer;
			
		}

		
	}
	
   
	
	
}

/* =============================================================================
Footer
========================================================================== */