/*------------------------------------------------------------------------------------------------------------------------
 @author: 
 @www: 
 @github: 
 @version: 1.0

 =============================================================================
 Filename: _layout.scss
 =============================================================================
 This file is responsible for establishing layout styles for the Portfolio app.
 --------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */



html{}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: $font_main;
    font-weight: $base-weight;
    font-size: $body-font;
	line-height: $base-line-height;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	
	@include flex-direction(column);
}



/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/*
 body is 1000 - 960 = 40
table and pcs
container: widtth: 960px, padding-right: 15px, padding-left: 15px; and marging will be 10 px each side;

*/




.container{
	width: 100%;
    padding-right: 1.500em; /* 1.500em; 15px*/
    padding-left: 1.500em; /*1.500em;15px*/
    margin-right: auto;
    margin-left: auto;
}

.row {
	@include flex-wrap(wrap);
	
    margin-right: -1.500em;
    margin-left: -1.500em;
}



figure{
	margin: 0;
}


section{
	@include sectoinProperties();
}


.icon-container{
	@include justify-content(center);
	
}

.flex-container{
	@media (min-width: 768px){@include displayFlex();}
}

.flex-item-3{
		@include flex-basis(100%);
		margin: 0 0 1.500em;
		@media (min-width: 768px){
			@include flex-basis(32.33333333333333%);
			margin: 0 0 3.000em;
	}
	
}

/* ============================================================================
Section Services
========================================================================== */

#services{
	.service-box{
		text-align: center;
		
		@media (min-width: 768px){
			@include justify-content(space-between);
			
		}
		
		.flex-item-3{
			border: 1px red solid;
			
			
		}
		
	}
	
}



/* ============================================================================
Section Portfolio
========================================================================== */

.portfolio-section{
	background-color: $light-grey;
	
	h2{
		margin-bottom: 0.500em;
	}
	
	p{
		font-size: 1.800em;
		text-align: center;
		margin: 1.000em;
	}
	
	.nav-portfolio{
		@include justify-content(center);
		.filter-container{
			
			@include displayFlex();
			
			margin-bottom:2.000em; 
			.filter-item{
				border: 0.100em $color_main solid;
				text-transform: uppercase;
				letter-spacing: 0.100em;
				font-size: 1.600em;
				padding: 1.000em;
				text-align: center;
				margin-right: 1.000em;
				
				&:last-child {
					margin-right: 0;
						@media (min-width: 768px){margin-right: 0;}
				}
				
				@media (min-width: 768px){margin-right: 2.000em;}
				
				
				&:hover{
					background: $color_main;
					color: #fff !important;
					border: 0.100em solid #fff; 
					a{color: #fff;}
				}
				
				a{color: $color_main;}
			}
	
		}
	}
	
	.portfolio-box{
		
		@media (min-width: 768px){
			@include flex-row-wrap(space-between, row, Wrap);
			
			
		}
		
		
			
			
	}
}



/* =============================================================================
Footer
========================================================================== */



