/*------------------------------------------------------------------------------------------------------------------------
 @author: 
 @www: 
 @github: 
 @version: 1.0

 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
	Mixin
========================================================================== */
@mixin boxShodow{
	-webkit-box-shadow:0 2px 2px #efefef;
	-moz-box-shadow: 0 2px 2px #efefef;
	-o-box-shadow:0 2px 2px #efefef;
	 box-shadow: 0 2px 2px #efefef;
}

@mixin sectoinProperties (){
	padding: 10.000em 0;
	/*padding-bottom: 4.000em;*/
}

/*Flexbox display
  applied to flex container
*/
@mixin displayFlex(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}




/* This applies to flex container: row, row-reverse, and column-reverse
======================================================*/

@mixin flex-direction($direction) {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

/* Axis Alignment. Applied to flex container
	flex-start, flex-end, space-between, space-around, space-evenly
*/

@mixin justify-content($justify) {
	display: -webkit-box;
 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}



/* This applies to flex container: nowrap, wrap, and wrap-reverse
======================================================*/

@mixin flex-wrap($wrap) {
	display: -webkit-box;
 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
	
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}


/* Flex Direction and Wrap
- applies to: flex containers
 <flex-direction> || <flex-wrap> */
@mixin flex-flow($flow) {
	display: -webkit-box;
 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
	
	
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}




/*Packing Flex Lines
 - applies to: multi-line flex containers
 flex-start | flex-end | center | space-between | space-around | stretch 
*/

@mixin align-content($align) {
	display: -webkit-box;
 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}



/* Cross-axis Alignment
 - applies to: flex containers
stretch | flex-start | flex-end | center | baseline | 
*/
@mixin align-items($align) {
	
	display: -webkit-box;
 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}



/* This applies to flex items: initial, auto, or none
======================================================*/

@mixin flexValue($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}



@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}

/* Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> */
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

/* Flex-grow applied to flex items 
=====================================*/

@mixin flex-grow($grow) {
	
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

/*  
Flex-shrink:	Applied to flex-items
======================================*/
@mixin flex-shrink($shrink) {
	
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}


/* Cross-axis Alignment
 - applies to: flex items
 auto | flex-start | flex-end | center | baseline | stretch 
*/

@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}



@mixin flexColumnCenter($direction, $align, $justify){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
   
-webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;	
	
	-webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
	
	-webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
	
	
  
	
}

@mixin flex-columnBetween($direction, $justify){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;	
	
	-webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
	
}



@mixin flex-row-wrap($R, $W){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: $R $W;
	-ms-flex-flow: $R $W;
	flex-flow: $R $W;
	
}



@mixin flexFlow-row-wrap{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}







