/*------------------------------------------------------------------------------------------------------------------------
 @author: 
 @www: 
 @github: 
 @version: 1.0

 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
	Mixin
========================================================================== */
@mixin boxShodow{
	-webkit-box-shadow:0 2px 2px #efefef;
	-moz-box-shadow: 0 2px 2px #efefef;
	-o-box-shadow:0 2px 2px #efefef;
	 box-shadow: 0 2px 2px #efefef;
}

@mixin sectoinProperties{
	
	padding-top: 8.000em;
	/*padding-bottom: 4.000em;*/
}
