/*------------------------------------------------------------------------------------------------------------------------
 @package: Laurence
 @author: Laurence Mabilleau
 @www: http://www.laurencemabilleau.com
 @github: 
 @version: 1.0

 =============================================================================
 Filename: _module.scss
 =============================================================================
 This file is responsible for establishing modules styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */



 /* =============================================================================
Link 
========================================================================== */

ul{
	list-style: none;
}





a{
	outline: none;
	text-decoration: none;
		
}














/* =============================================================================
Forms
========================================================================== */

