/*------------------------------------------------------------------------------------------------------------------------
 
 @package: LM
 @author: Laurence Mabilleau
 @version: 1.0
 

Site Main Colour*/

/* Rosa Verla C.I.C Color
Dark Purple: rgb 105 82 219; #6952DB; main color
Light Purple: rgb 150 144 240; #9F90F0; seconde color
Dark Blue: rgb: 0 2 35; #000223;
dark green: rgb 0 37 3; #002503;
dark black: #0A0D0D;



Rosa Verla Fondation color: 

Dark black: rgb 11 8 11; #0B080B;
Dark green: rgb: 55 164 165 #37A4A4;
Light Green: rgb: 130 242 245 #82F2F5;
Middle green: rgb: 36 191 164 #24BFA4;
Green light: rgb: 71 198 116; #47C674;

 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Imports & Variables
========================================================================== */
/* Compass imports */
@import "compass/utilities";
@import "compass/css3/pie";

@import "_variables.scss";
@import "module";
@import "_mixin.scss";
@import "nav";
@import "_headerfooter";
@import "layout";



/* =============================================================================
  Layout
========================================================================== */


/* Header 
================================= */






	



/* Servces section 
================================= */










/* footer 
================================= */






/* =============================================================================
	Responsive
========================================================================== */










/* =============================================================================
	Animations
========================================================================== */




